<!DOCTYPE html>
<html lang="en">

<head>
	<title>Volunteer</title>
	<meta charset="utf-8">
	<meta name="format-detection" content="telephone=no" />
	<link rel="icon" href="../assets/images/GoFeedMe.PNG">
	<link rel="shortcut icon" href="../assets/images/GoFeedMe.PNG" />
	<link rel="stylesheet" href="assets/css/form.css">
	<link rel="stylesheet" href="assets/css/style.css">
	<link rel="stylesheet" href="assets/css/thumbs.css">
	<link rel="stylesheet" href="assets/css/slider.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	 crossorigin="anonymous">
	<script src="js/jquery.js"></script>
	<script src="js/jquery-migrate-1.2.1.js"></script>
	<script src="js/script.js"></script>
	<script src="js/superfish.js"></script>
	<script src="js/sForm.js"></script>
	<script src="js/jquery.ui.totop.js"></script>
	<script src="js/jquery.equalheights.js"></script>
	<script src="js/jquery.easing.1.3.js"></script>
	<script src="js/jquery.iosslider.min.js"></script>
	<script>
		$(document).ready(function () {
			$().UItoTop({ easingType: 'easeOutQuart' });
		});
	</script>
	<!--[if lt IE 8]>
		<div style=' clear: both; text-align:center; position: relative;'>
			<a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode">
				<img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." />
			</a>
		</div>
		<![endif]-->
	<!--[if lt IE 9]>
		<script src="js/html5shiv.js"></script>
		<link rel="stylesheet" media="screen" href="css/ie.css">
		<![endif]-->
</head>

<body class="" id="top">
	<!--==============================header=================================-->
	<header>
		<div class="container_12">
			<div class="grid_12">
				<h1>
					<a href="/">
						<img id="image" src="../assets/images/GoFeedMe.PNG" alt="GoFeedMe logo">
					</a>
				</h1>
				<div class="menu_block">
					<!-- <a href="#" class="donate">DONATE</a> -->
					<div class="clear"></div>
					<nav class="horizontal-nav full-width horizontalNav-notprocessed">
						<ul class="sf-menu">
							<li><a href="/">Home</a>
							</li>
							<li class="current"><a href="/volunteer">Volunteer</a>
							</li>
							<li><a href="/meals">Meal Request</a>
							</li>
							<!-- <li><a href="index-3.html">Get Involved</a></li>
							<li><a href="index-4.html">Contacts</a></li> -->
						</ul>
					</nav>
					<div class="clear"></div>
				</div>
			</div>
		</div>
	</header>

	<div class="fluidHeight container_12">
		<div class="sliderContainer">
			<div class="iosSlider">
				<div class="slider">
					<div class="item item1">
						<div class="inner">
						</div>
					</div>
					<div class="item item2">
						<div class="inner">

						</div>
					</div>
					<div class="item item3">
						<div class="inner">
						</div>
					</div>
				</div>
			</div>
	</div>
	<!--==============================Content=================================-->
	<div class="content">
		<!-- <div class="ic">More Website Templates @ TemplateMonster.com - March 24, 2014!</div> -->
		<div class="container_12">

				<form class="form-horizontal" action="/api/volunteer"method="post">
						<fieldset>
						
						<!-- Form Name -->
						<legend id="volunteerForm">Volunteer Form</legend>
						
						<!-- Text input-->
						<div class="form-group">
						  <label class="col-md-4 control-label" for="name">Full Name</label>  
						  <div class="col-md-4">
						  <input id="name" name="name" type="text" placeholder="Name" class="form-control input-md" required="">
							
						  </div>
						</div>
						
						<!-- Text input-->
						<div class="form-group">
						  <label class="col-md-4 control-label" for="email">Email address:</label>  
						  <div class="col-md-4">
						  <input id="email" name="email" type="text" placeholder="Email" class="form-control input-md" required="">
							
						  </div>
						</div>
						
						<!-- Text input-->
						<div class="form-group">
						  <label class="col-md-4 control-label" for="phone Number">Phone Number:</label>  
						  <div class="col-md-4">
						  <input id="phoneNumber" name="phone" type="number" placeholder="Phone Number" class="form-control input-md" required="">
							
						  </div>
						</div>
						
						<!-- Select Basic -->
						<div class="form-group">
						  <label class="col-md-4 control-label" for="availability">Availability:</label>
						  <div class="col-md-4">
							<select id="availability" name="availability" class="form-control">
							  <option value="1">Breakfast</option>
							  <option value="2">Lunch</option>
							  <option value="3">Dinner</option>
							</select>
						  </div>
						</div>
				
						<div class="bootstrap-iso">
								<div class="container-fluid">
								 <div class="row">
									<div class="col-md-6 col-sm-6 col-xs-12">
									 <form action="https://formden.com/post/MlKtmY4x/" class="form-horizontal" method="post">
										<div class="form-group ">
										 <label class="control-label col-sm-2 requiredField" id="dateLabel" for="date">
											Date:
										 </label>
										 <div class="col-sm-10">
											<div class="input-group">
											 <div class="input-group-addon">
												<!-- <i class="fa fa-calendar">
												</i> -->
											 </div>
											 <input class="form-control" id="date" name="date" placeholder="MM/DD/YYYY" type="date"/>
											</div>
										 </div>
										</div>
										<div class="form-group">
										 <div class="col-sm-10 col-sm-offset-2">
											<input name="_honey" style="display:none" type="text"/>
										 </div>
										</div>
									 </form>
									</div>
								 </div>
								</div>
							 </div>
						
							 
							 
							 <!-- Extra JavaScript/CSS added manually in "Settings" tab -->
							 <!-- Include jQuery -->
							 <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
							 
							 <!-- Include Date Range Picker
							 <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
							 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>
							 
							 <script>
								 $(document).ready(function(){
									 var date_input=$('input[name="date"]'); //our date input has the name "date"
									 var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
									 date_input.datepicker({
										 format: 'mm/dd/yyyy',
										 container: container,
										 todayHighlight: true,
										 autoclose: true,
									 })
								 })
							 </script> -->
							 


						<!-- Multiple Checkboxes (inline) -->
						<div class="form-group">
								<label class="col-md-4 control-label" for="background check">Will you outsource produce from local markets?</label>
								<div class="col-md-4">
								<label class="checkbox-inline" for="background check-0">
									<input type="checkbox" name="background check" id="background check-0" value="1">
									Yes
								</label>
								<label class="checkbox-inline" for="background check-1">
									<input type="checkbox" name="background check" id="background check-1" value="2">
									No
								</label>
								</div>
							</div>
							

						<div class="form-group">
						  <label class="col-md-4 control-label" for="background check">Do you agree to a background check?</label>
						  <div class="col-md-4">
							<label class="checkbox-inline" for="background check-0">
							  <input type="checkbox" name="background check" id="background check-0" value="1">
							  Yes
							</label>
							<label class="checkbox-inline" for="background check-1">
							  <input type="checkbox" name="background check" id="background check-1" value="2">
							  No
							</label>
						  </div>
						</div>
						
						<!-- Button -->
						<div class="form-group">
						  <div class="col-md-4">
							<button id="submitButton" name="submit button" class="btn btn-primary">Submit</button>
						  </div>
						</div>
						
						</fieldset>
						</form>
		</div>

		<!--==============================footer=================================-->
		<footer>

			</div> -->
		</footer>
		<script src="js/jquery.hoverdir.js"></script>
	<script>
		$(document).ready(function () {
			$('.iosSlider').iosSlider({
				desktopClickDrag: true,
				snapToChildren: true,
				navSlideSelector: '.sliderContainer .slideSelectors .item',
				onSlideComplete: slideComplete,
				onSliderLoaded: sliderLoaded,
				onSlideChange: slideChange,
				scrollbar: false,
				autoSlide: true,
				autoSlideTimer: 3300,
				infiniteSlider: true
			});
		});
		function slideChange(args) {
			$('.sliderContainer .slideSelectors .item').removeClass('selected');
			$('.sliderContainer .slideSelectors .item:eq(' + (args.currentSlideNumber - 1) + ')').addClass('selected');
		}
		function slideComplete(args) {
			if (!args.slideChanged) return false;
			$(args.sliderObject).find('.text1, .text2').attr('style', '');
			$(args.currentSlideObject).find('.text1').animate({
				right: '100px',
				opacity: '0.72'
			}, 400, 'easeOutQuint');
			$(args.currentSlideObject).find('.text2').delay(200).animate({
				right: '70px',
				opacity: '0.72'
			}, 400, 'easeOutQuint');
		}
		function sliderLoaded(args) {
			$(args.sliderObject).find('.text1, .text2').attr('style', '');
			$(args.currentSlideObject).find('.text1').animate({
				right: '100px',
				opacity: '0.72'
			}, 400, 'easeOutQuint');
			$(args.currentSlideObject).find('.text2').delay(200).animate({
				right: '70px',
				opacity: '0.72'
			}, 400, 'easeOutQuint');
			slideChange(args);
		}
		$(function () {
			$(' #da-thumbs > li ').each(function () { $(this).hoverdir(); });
		});
	</script>
	<script src= "../js/volunteerdb.js"></script>
</body>

</html>